/* Universal Styling */
:root {
  --blue-1000: hsl(178, 60%, 48%);
  --blue-500: hsl(178, 75%, 65%);
  --yellow-1000: hsl(39, 87%, 54%);
  --yellow-500: hsl(39, 100%, 69%);
  --black-1000: hsl(202, 32%, 15%);
  --black-500: hsl(199, 35%, 19%);
  --grey-1000: hsl(198, 23%, 72%);
  --grey-500: hsl(197, 33%, 89%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--grey-1000);
  background-color: var(--black-1000);
}

header,
main {
  width: 460px;
}

header {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  margin-bottom: 2.5rem;
}

/* Overlay */
.overlay {
  width: 100%;
  min-height: 100vh;
  display: none;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.6);
  position: absolute;
  z-index: 10;
}

/* Status Bar */
.status__bar {
  width: inherit;
  padding: 3rem 0.5rem;
  text-align: center;
  background-color: var(--black-500);
}

.overlay.active {
  display: flex;
}

.status__bar--content {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.status__bar strong {
  display: block;
}

.status__bar .btn__wrapper {
  text-align: center;
}

.status__bar .btn__wrapper .btn {
  padding: 1rem;
  border-radius: 10px;
  margin: 0 0.5rem;
}

.winning--mark__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

img[alt="winning mark"] {
  margin-right: 1rem;
}

/* Active State */
header.active {
  justify-content: space-between;
}

header.active .btn,
.player__form.active,
.game__container.active {
  display: block;
}

header.active .player__turn--bar {
  display: flex;
}

/* Font Style */
.heading--L {
  font-size: 2.5rem;
  letter-spacing: 2.5px;
}

.heading--M {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.heading--S {
  font-size: 1.25rem;
  letter-spacing: 1.25px;
}

.heading--XS {
  font-size: 1rem;
  letter-spacing: 1px;
}

.font--body {
  font-size: 0.875rem;
  letter-spacing: 0.8px;
}

.uppercase {
  text-transform: uppercase;
}

/* Button */
.btn {
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.btn--yellow {
  background-color: var(--yellow-1000);
  box-shadow: 0 5px 0 0 hsl(39, 82%, 43%);
}

.btn--yellow:hover {
  background-color: var(--yellow-500);
}

.btn--green {
  background-color: var(--blue-1000);
  box-shadow: 0 5px 0 0 hsl(178, 69%, 33%);
}

.btn--green:hover {
  background-color: var(--blue-500);
}

.btn--white {
  background-color: var(--grey-1000);
  box-shadow: 0 5px 0 0 hsl(198, 6%, 44%);
}

header > .btn {
  width: 3rem;
  height: 3rem;
  display: none;
  border-radius: 10px;
  box-shadow: 0 3px 0 0 hsl(198, 6%, 44%);
}

.form--btn__wrapper .btn {
  width: 100%;
  height: 50px;
  margin: 0.5rem 0;
  border-radius: 1rem;
}

/* Game Initialization Section */
.player__form,
.game__container {
  display: none;
}

.player1--choice__container {
  margin-bottom: 2.5rem;
  padding: 1.5rem;
  background-color: var(--black-500);
  text-align: center;
  border-radius: 0.9375rem;
  box-shadow: 0 5px 0 0 #10212a;
}

.choice__wrapper {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #10212a;
  border-radius: 10px;
}

label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

label > svg {
  transform: scale(0.5);
  fill: var(--grey-1000);
}

.player__turn--bar {
  width: 8.75rem;
  padding: 0.8rem 0;
  display: none;
  justify-content: center;
  font-weight: 700;
  background-color: var(--black-500);
  border-radius: 15px;
  box-shadow: 0 4px 0 0 #10212a;
}

.player__turn {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.8rem;
  background: inherit;
  background-image: url("./assets/icon-x.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: luminosity;
}

/* Input Radio Customization */
input[type="radio"] {
  appearance: none;
  width: 190px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  cursor: pointer;
}

input[type="radio"]:hover {
  background-color: var(--black-1000);
}

input[type="radio"]::after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--grey-1000);
  border-radius: inherit;
  transform: scale(0);
}

input[type="radio"]:checked::after {
  transform: scale(1);
}

input[type="radio"]:checked + svg {
  fill: var(--black-1000);
}

/* Game Start Section */
.game__arena,
.score--board {
  width: 100%;
  display: grid;
  margin-bottom: 1.7rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.game--block {
  width: 100%;
  height: 8.75rem;
  justify-self: center;
  background-color: var(--black-500);
  border-radius: 15px;
  box-shadow: 0 7px 0 0 #10212a;
}

.game__arena .game--block:hover {
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
}

.game__arena.x .game--block:hover {
  background-image: url("./assets/icon-x-outline.svg");
}

.game__arena.o .game--block:hover {
  background-image: url("./assets/icon-o-outline.svg");
}

.game__arena.x .game--block:disabled:hover,
.game__arena.o .game--block:disabled {
  background-image: none;
}

.score--block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  color: var(--black-1000);
  border-radius: 15px;
}

/* Score Block Color Customization */
.block--green {
  background-color: var(--blue-500);
}

.block--white {
  background-color: var(--grey-1000);
}

.block--yellow {
  background-color: var(--yellow-1000);
}

/* Media Query */
@media only screen and (max-width: 690px) {
  .status__bar {
    padding: 2rem 0;
  }
  .status__bar--content > strong {
    font-size: 0.875rem;
  }

  .winning--mark__wrapper strong {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  header,
  main {
    width: 90%;
  }

  .choice__wrapper {
    padding: 0 0.5rem;
  }

  input[type="radio"] {
    width: 100%;
  }

  .game--block {
    height: clamp(6.75rem, -0.3929rem + 30.4762vw, 8.75rem);
  }
}
